.RecruitmentList {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    width: 100%;
    height: 70%;
}
.RecruitmentItem{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding :10px;
    width: 100%;
    line-height: 0.6;
    font-size : 17px;
    border : 1px solid #ccc;
}
.pagination {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recruitment-create {
    display: flex;
    justify-content: right;
    margin-top: 40px;
}